<div class="modal-content">
	<form class="pure-form pure-form-aligned" ng-submit="submit()">
		<header class="modal-header"><h1>New photo</h1></header>
		<div class="modal-body">
			<div ng-cloak ng-show="errors.length" class="error">
				<h2>Please check your input</h2>
				<ul>
					<li ng-repeat="error in errors"><i class="fa-li fa fa-exclamation-circle"></i>{{error}}</li>
				</ul>
			</div>
			<fieldset>
					<div class="pure-control-group">
							<label for="path">Path</label>
							<input ng-class="error.path" id="path" type="url" placeholder="http://..."  ng-model="photo.path">
					</div>

					<div class="pure-control-group">
							<label for="name">Name</label>
							<input ng-class="error.name" id="name" placeholder="Special Name For You" ng-model="photo.name">
					</div>

					<div class="pure-control-group">
							<label for="description">Description</label>
							<input ng-class="error.description" id="description" placeholder="This photo is ..." ng-model="photo.description">
					</div>

					<div class="pure-control-group">
							<label for="width">Width</label>
							<input ng-class="error.width" id="width" type="number" placeholder="x px" ng-model="photo.width">
					</div>

					<div class="pure-control-group">
							<label for="height">Height</label>
							<input ng-class="error.height" id="height" type="number" placeholder="x px" ng-model="photo.height">
					</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<a class="pure-button" ng-click="$dismiss()">Close</a>
			<button class="pure-button pure-button-primary">Create</button>
		</div>
		</form>
</div>