<div class="modal-content">
	<form class="pure-form pure-form-aligned" ng-submit="submit()">
		<header class="modal-header"><h1>New photo</h1></header>
		<div class="modal-body">
			<fieldset>
					<div class="pure-control-group">
							<label for="url">Url</label>
							<input id="url" type="url" placeholder="http://..."  ng-model="photo.url" required>
					</div>

					<div class="pure-control-group">
							<label for="name">Name</label>
							<input id="name" placeholder="Special Name For You" ng-model="photo.name" required>
					</div>

					<div class="pure-control-group">
							<label for="description">Description</label>
							<input id="description" placeholder="This photo is ..." ng-model="photo.description">
					</div>

					<div class="pure-control-group">
							<label for="width">Width</label>
							<input id="width" type="number" placeholder="x px" ng-model="photo.width" required>
					</div>

					<div class="pure-control-group">
							<label for="height">Height</label>
							<input id="height" type="number" placeholder="x px" ng-model="photo.height" required>
					</div>
			</fieldset>
		</div>
		<div class="modal-footer">
			<a class="pure-button" ng-click="$dismiss()">Close</a>
			<button class="pure-button pure-button-primary">Create</button>
		</div>
		</form>
</div>