<article class="photo">
	<header>
		<a class="back" href="/"><i class="fa fa-angle-double-left"></i></a>
		<h1 contenteditable="{{editing === 'fa-save'}}"
			ng-model="photo.name"
			strip-br="true"
			ng-keydown="keydown($event)"></h1>
		<span class="buttons" ng-hide="error">
			<a class="pure-button button-secondary" ng-click="edit()">
				<i class="fa" ng-class="editing"></i>
			</a>
			<a class="pure-button button-warning" ng-click="destroy($event, photo)">
				<i class="fa fa-trash-o"></i>
			</a>
		</span>
	</header>
	<div class="photo-wrapper">
		<img class="absoluteCenter" ng-src="{{photo.path}}"/>
		<div class="error" ng-show="error">
			<h1>{{error.status}}</h1>
			<h2>{{error.code}}</h2>
			<i>{{error.message}}</i>
		</div>
	</div>
	<footer>
		<span class="description"
			contenteditable="{{editing === 'fa-save'}}"
			ng-model="photo.description"
			strip-br="true"
			ng-keydown="keydown($event)"></span>
		<tags-input
			ng-model="photo.tags"
			display-property="name"
			max-length="15"
			max-tags="10"
			on-tag-added="saveTag($tag)"
			on-tag-removed="removeTag($tag)"
		>
  		<auto-complete source="loadTags($query)" min-length="2"></auto-complete>
		</tags-input>
 		<span class="rating">
			<ng-pluralize count="photo.ratingCount"
			  when="{'0': 'No ratings', 'one': 'One rating', 'other': '{} ratings'}"></ng-pluralize>:
 			<rating value="photo.rating" max="5" ng-click="rate($event)"></rating>
 		</span>
	</footer>
</article>