<div class="pure-u-1 tag-container">
	<h1>Pictures for "<span
			contenteditable="{{editing === 'fa-save'}}"
			ng-model="tag.name"
			strip-br="true"
			ng-keydown="keydown($event)"></span>"</h1>
	<span class="buttons" ng-hide="error">
		<a class="pure-button button-secondary" ng-click="edit()">
			<i class="fa" ng-class="editing"></i>
		</a>
		<a class="pure-button button-warning" ng-click="destroy($event, tag)">
			<i class="fa fa-trash-o"></i>
		</a>
	</span>

	<h2 ng-hide="tag.photos.length">No Photos found</h2>
	<div class="photos-container">
		<div class="animate-repeat thumb" ng-repeat="photo in tag.photos | orderBy:'rating':true" run-layout>
			<a ng-href="/photo/{{photo.id}}"><img class="hidden" ng-src="{{photo.path}}" data-width="{{photo.width}}" data-height="{{photo.height}}"/></a>
		</div>
	</div>
</div>