<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<base href="http://gallery.tuhoojabotti.com/">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Gallery</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	</head>
	<body ng-app="gallery" ng-controller="GalleryController">
		<div id="fb-root"></div>
		<!--[if lt IE 9]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<a href="https://tuhoojabotti.com" class="pure-menu-heading">My Portfolio</a>

			<ul ng-controller="LoginController">
				<li class="pure-menu-selected"><a href="/">Pictures</a></li>
				<li><a href="#">Tags</a></li>
				<li><a href="#">Search</a></li>
				<!-- <li ng-cloak ng-if="!logged"><a ng-click="verify()">Log in</a></li> -->
				<li ng-cloak ng-if="logged"><a ng-click="logout()">Log out</a></li>
				<li ng-cloak ng-if="name" ng-click="verify()">Hello {{name}}!</li>
			</ul>
		</div>

		<div class="pure-g">
			<div class="folder-container pure-u-1">
				<div class="folder"><span>Funny</span></div>
				<div class="folder"><span>Nature</span></div>
				<div class="folder"><span>Secret</span></div>
				<div class="folder"><span>Portraits</span></div>
			</div>
			<div class="toolbar pure-u-1-2">
				<div class="pure-menu pure-menu-open pure-menu-horizontal">
					<span class="pure-menu-heading">Navigation</span>
					<ul>
						<li><a href="#">Root</a></li> /
						<li><a href="#">You are here</a></li>
					</ul>
				</div>
			</div>
			<div class="toolbar pure-u-1-2">
				<div class="pure-menu pure-menu-open pure-menu-horizontal">
					<span class="pure-menu-heading">Tools</span>
					<ul>
						<li><a href="#">Download as ZIP</a></li>
						<li><a href="#">View tags</a></li>
					</ul>
				</div>
			</div>

			<section ui-view></section>
		</div>

		<script type="text/ng-template" id="index.html">
			<div class="photo-container pure-u-1" ng-controller="PhotoController">
				<div class="animate-repeat thumb" ng-repeat="photo in photos" run-layout>
						<a ng-href="/photo/{{photo.id}}">
							<img ng-src="{{photo.path}}"
								data-width="{{photo.width}}"
								data-height="{{photo.height}}"/>
						</a>
						<i ng-click="destroy($event, photo)" class="fa fa-trash-o"></i>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="login.html">
			<div class="modal-content">
				<header class="modal-header"><h1>Log in first!</h1></header>
				<div class="modal-body">
					<p>You have to log in to rate, no personal information will be saved.</p>
					<p><strong>Bonus:</strong> your access to protected folders will be remembered.</p>
				</div>
				<div class="modal-footer">
					<button class="pure-button" ng-click="$dismiss()">Not now</button>
					<img class="fb-login" src="img/fb-login.png" ng-click="login()" />
			</div>
		</script>

		<script type="text/ng-template" id="photo.html">
			<div class="modal-content">
				<header class="modal-header">
					<h1 contenteditable="{{editing === 'fa-save'}}"
		        ng-model="photo.name"
		        strip-br="true"
		        ng-keydown="keydown($event)"></h1>
	      </header>
				<div class="modal-body">
					{{params}}
					<img ng-src="{{photo.path}}"/>
				</div>
				<div class="modal-footer">
	  			<span contenteditable="{{editing === 'fa-save'}}"
		        ng-model="photo.description"
		        strip-br="true"
		        ng-keydown="keydown($event)"></span>
					<button class="pure-button button-secondary" ng-click="edit()">
						<i class="fa" ng-class="editing"></i>
					</button>
					<button class="pure-button" ng-click="$dismiss()">Close</button>
			</div>
		</script>

		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-ui-router.min.js"></script>
		<script src="js/vendor/angular-animate.min.js"></script>
		<script src="js/vendor/angular-resource.min.js"></script>
		<script src="js/vendor/http-auth-interceptor.js"></script>
		<script src="js/vendor/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
		<script src="js/vendor/angular-contenteditable.js"></script>
		<script src="js/vendor/string.js"></script>

		<script src="js/main.js"></script>
		<script src="js/login.js"></script>
		<script src="js/photo.js"></script>

		<script>
/*		not yet	(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');*/
		</script>
	</body>
</html>