a { cursor: pointer; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, main {
  min-height: 100%;
  min-width: 700px;
}

html, button, input, select, textarea {
  color: #222;
}

[ng-cloak] { display: none !important; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio, canvas, img, video {
  vertical-align: middle;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

nav {
  position: fixed;
  white-space: nowrap;
}

main {
  padding-top: 36px;
}

.photos-container {
  text-align: center;
}
.photos-container img { margin: 1px 2px 2px 1px; }
.photos-container img {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.photos-container .thumb {
  display: inline-block;
  -webkit-transform: perspective(500px)
  transform: perspective(500px)
}

.thumb img.hidden {
  opacity: 0;
  -webkit-transform: translate3d(0, 20px, -100px) rotateX(-20deg);
  transform: translate3d(0, 20px, -100px) rotateX(-20deg);
}

.thumb img {
  transition: all 0.5s, width 0.2s;
}

.thumb.delete img {
  border: 5px solid red;
}

body.modal-open {
  margin-right: 15px;
}

/* Login modal */
.modal.login {
  overflow-y: hidden;
}

.modal.login .modal-dialog {
  width: 500px;
}

.modal.login .modal-content {
  text-align: center;
}

.modal.login .modal-header {
  padding: 0;
}

.modal.login .modal-body {
  padding: 0 20px;
}

.fb-login {
  cursor: pointer;
}

.photo {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}

.photo .error {
  text-align: center;
  margin-top: 200px;
}

.photo .error h1 {
  font-size: 8em;
  text-shadow: 3px 2px 10px #666;
  margin: 0.3em 0;
}

.photo header, .photo footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: white;
}

.photo header {
  z-index: 1;
  top: 36px;
  padding: 10px 20px 10px 45px;
  position: relative;
  height: 58px;
}

.photo header h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.photo .back {
	color: #222;
  display: inline-block;
  background-color: #ddd;
  padding: 15px 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 25px;
  width: 36px;
}

.photo .buttons {
  float: right;
}

.photo footer {
  padding: 10px 20px;
  bottom: 0;
  height: 50px;
}

.photo .description {
  position: relative;
  bottom: 11px;
}

.photo .rating {
  position: absolute;
  right: 20px;
  top: 17px;
}

.photo .rating i {
  width: 22px;
  color: #000;
  text-shadow: 0 0 4px black;
  font-size: 1.4em;
  cursor: pointer;
}

.photo .rating.saved i {
	color: yellow;
}

.photo .rating i.fa-star-o {
	color: #000;
}

.photo-wrapper, .photo-wrapper img {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.photo-wrapper {
  top: 94px;
  bottom: 44px;
}

img.absoluteCenter {
  max-width: 96%;
  max-height: 93%;
  box-shadow: 0px 0px 40px black;
  top: 0;
  bottom: 0;
}

[contenteditable] {
  border: 1px dashed transparent;
}

[contenteditable=true]:empty {
  width: 35px;
  padding: 0 3px;
}

[contenteditable=true]:empty:after {
  content: '...';
}

[contenteditable=true] {
  border: 1px dashed #66f;
  border-radius: 4px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

i.fa {
  width: 13px;
}

@media only screen and (max-width: 700px) {
  nav { display: none; }
  main { padding-top: 0; }
  .photo header { top: 0; }
  .photo-wrapper { top: 58px; }
  .photo .buttons { display: none; }
}

tags-input .host {
  width: 30%;
  display: inline-block;
  margin: 0;
}

tags-input .tags {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
}

tags-input .autocomplete {
  bottom: 35px;
}

tags-input .tags .tag-item {
    background: #42B8DD;
    border: none;
    border-radius: 4px;
    color: #fff;
}

tags-input .tags .tag-item.selected {
    background: #d9534f;
    border: none;
    border-radius: 4px;
    color: #fff;
}

tags-input .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}

tags-input .autocomplete .tag-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}

.fade-anim.ng-hide-add, .fade-anim.ng-hide-remove {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  display: inline-block !important;
}

.fade-anim.ng-hide-add.ng-hide-add-active,
.fade-anim.ng-hide-remove {
  opacity: 0;
  -webkit-transform: translateY(-60px);
}

.fade-anim.ng-hide-add,
.fade-anim.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  -webkit-transform: translateX(0);
}

ui-view {
  width: 100%;
}

#tagsContainer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.pure-input-rounded {
  font-size: 8px;
}

div.error {
  background-color: #FDD;
  padding: 5px 15px;
  border-radius: 10px;
  border: 2px solid red;
  margin-bottom: 20px;
}

.error h2 {
  margin: 0;
  color: red;
  font-size: 20px;
}

.error ul {
  margin: 5px 0;
  list-style: none;
}

.error li {
  position: relative;
}

input.error {
  background-color: #FDD;
  color: red;
}

input.error:focus {
  border-color: #F00 !important;
}

.denied h1 {
  color: #F00;
}

.name-error {
  color: red;
  vertical-align: 14px;
  font-weight: bold;
}